/* hover effect for options */
.option:hover {
    background-color: #e7f1ff;
    border-left: 5px solid #0d6efd;
}

/* selected option highlight */
.selected {
    background-color: #cfe2ff !important;
    border-left: 5px solid #0d6efd;
}

/* disable pointer after answering */
.disabled {
    pointer-events: none;
    opacity: 0.7;
}
